@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.container {
    background-color: #181818;
    font-family: 'Nunito', sans-serif;
  }
  
  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .LogoTitulo {
    max-width: 100px;
  }
  
  .Lista {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; /* Alinhar verticalmente os itens da lista */
  }
  
  .Lista li {
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .Lista li:hover {
    text-decoration: underline;
  }

  .BotaoRosa {
    list-style: none;
    padding: 0;
    display: flex;
    color: #FF6FD7;
    cursor: pointer;
    text-decoration-line: underline;
    margin: 20px;
  }

  .BotaoRosa li:hover {
    text-decoration: underline;
  }

  .Botoes{
    padding: 0;
    display: flex;
    align-items: center; /* Alinhar verticalmente os itens da lista */
    margin: 0 10px;
  }
  
  